.test {
  text-align: center;
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
}

.menu_back {
  box-sizing: border-box;
width: 1000px;
height: 500px; 
margin:0 auto;

background: #F9F5EA;
border: 8px solid #2A483E;

}

.menu_edge{
width: 984px;
height: 50px; 
margin: 0 auto;
background: #FEB894;
border: 8px solid #2A483E;
border-radius: 30px 30px 0px 0px;
}

.aline {
  box-sizing: border-box;
  margin:0 auto;
}

.border{
 
  width: 900px;
  padding: 30px 0 0 0;
  margin: 0 auto;
}

.toSubmit {
  margin-top: 14px;
  margin-left: 16px;
  border: 1px solid #2A483E;
  border-radius: 1000px;
  background-color: #FEB894;
  font-weight: bold;
  cursor: pointer;
}
