.todo {
  width: 985px;
  height: 60px;
  background-color: #F9F5EA;
  border-bottom: 2px, dotted,#FEB894;
  cursor: pointer;
  position: relative;
}

.word {
    margin: 0;
    font-family: "Inter";
    font-style: italic;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #2A483E,
             -1px 1px 0 #2A483E,
             1px -1px 0 #2A483E,
             -1px -1px 0 #2A483E;
}
