.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
  
    /*　画面の中央に要素を表示させる設定　*/
    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
  }

  @keyframes fadeup {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .module_content{
    z-index:2;
    width:520px;
    height: 180px;
    padding: 1em;
    background:#C1E1DE ;
    border-radius: 10px;
  }

  .title_text{
    padding-right: 5px;
  }
  
  .input_title {
    width: 200px;
    height: 20px;
    border-radius: 5px;
  }
  
  .input_text {
    width: 500px;
    height: 85px;
    margin-top: 10px;
    display: block;
    border-radius: 5px;
  
  }
  
  .input_checkbox{
    display: flex;
    float:right;
    margin-right: 10px;
    border-radius: 10px;
  }


  
  .button {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 10px;
  }

  .close{
    cursor: pointer;
  }

  .update{
    cursor: pointer;
  }

  .delete{
    cursor: pointer;
  }

  .complete{
    cursor: pointer;
  }

  
  