.todo {
  width: 985px;
  height: 60px;
  background-color: #F9F5EA;;
  position: absolute;
}

.word {
    margin: 0;
    font-family: "Inter";
    font-style: italic;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000,
             -1px 1px 0 #000,
             1px -1px 0 #000,
             -1px -1px 0 #000;
}
